#autocomplete-list {
    position: absolute;
    background: #fff;
    border: 1px solid #d4d4d4;
    z-index: 99;
  }

  #autocomplete-list div {
    padding: 10px;
    cursor: pointer;
  }

  #autocomplete-list div:hover {
    background-color: #e9e9e9;
  }

  
        input[type=text], button {
            font-size: 16px;
            padding: 10px;
            margin: 10px 0;
            display: block;
            width: calc(80% - 20px); /* Adjust width to allow for padding */
        }

        #zipCodeInput {
            margin-bottom: 10px;
        }

        button {
            margin-bottom: 20px;
        }

        .table-scrollable {
            overflow-x: auto;
            display: block;
            width: 100%;
        }
        .daylight {
    border: 2px solid orange; /* You can adjust the border size if needed */
}

th {.altitude-header {
    font-weight: bold;
    background-color: #f0f0f0; /* Or any color to highlight your headers */
    min-width: 40px;
}}